<div style="margin-top: 25px; margin-bottom: 25px">
    <div style="display: flex; justify-content: center;">
        <button mat-flat-button (click)="fight()" style="margin-right: 5px;" class="btn-class" [disabled]="!pok1 || !pok2">
            Lancer le combat
        </button>
        <button mat-flat-button (click)="add()" style="margin-left: 5px;" class="btn-class">
            Ajouter un pokémon
        </button>
    </div>
    <div class="select-contain">
        <div style="width: 45vw">
            <app-select-pokemon (select)="pok1 = $event" [pokemons]="pokemons"></app-select-pokemon>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div style="width: 45vw">
            <app-select-pokemon (select)="pok2 = $event" [pokemons]="pokemons"></app-select-pokemon>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 25px;">
        <button mat-flat-button (click)="load()" style="width: 50%; background-color: var(--success); color: white;">
            Charger plus
        </button>
    </div>
</div>
