.poke-img {
    height: 40vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    height: 20px; 
    width: 250px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
}