.poke-img {
    height: 40vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    height: 20px; 
    width: 275px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px;
    border-radius: 25px;
}

.poke-name {
    position: absolute; 
    top : 10px;
    font-size: large;
    color: yellow;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
    font-family: 'Pokemon-Solid';
}