<html>
    <body>
        <mat-grid-list cols="2" rowHeight="100vh">
            <mat-grid-tile>
                <div style="display: inline-block; align-self: end;">
                    <app-pokemon-stats [pokemon]="pokemons[1]"></app-pokemon-stats>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: inline-block; align-self: center;">
                    <app-pokemon-stats [pokemon]="pokemons[0]"></app-pokemon-stats>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </body>
</html>
