<body>
  <div style="display: flex; justify-content: center">
    <button
      mat-flat-button
      style="margin-top: 5vh"
      mat-fab
      (click)="handleBattle()"
    >
      <mat-icon>{{ btnIcon }}</mat-icon>
    </button>
  </div>
  <div style="position: absolute; top: 20vh; right: 10vw">
    <app-pokemon-stats [pokemon]="battle.getPoke1()"></app-pokemon-stats>
  </div>
  <div style="position: absolute; bottom: 10vh; left: 10vw">
    <app-pokemon-stats [pokemon]="battle.getPoke2()"></app-pokemon-stats>
  </div>
</body>
