<div class="container">
  <app-battle-logs [battle_logs]="battleService.messages || []" [date]="date" ></app-battle-logs>

  <div style="display: flex; justify-content: center" *ngIf="pokemon1 && pokemon2">
    <button mat-flat-button class="poke-btn" mat-fab (click)="handleBattle()">
      <mat-icon class="poke-btn-icon">{{ btnIcon }}</mat-icon>
    </button>
  </div>

  <div style="position: absolute; top: 20vh; right: 10vw">
    <app-pokemon-stats [pokemon]="pokemon1" *ngIf="pokemon1"></app-pokemon-stats>
  </div>
  <div style="position: absolute; bottom: 10vh; left: 10vw">
    <app-pokemon-stats [pokemon]="pokemon2" *ngIf="pokemon2"></app-pokemon-stats>
  </div>
</div>
